---
import "@/styles/global.css";
import Error from "@/components/shadcn-studio/blocks/error-page-04/error-page-04";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>404 — Page Not Found</title>
	</head>
	<body>
		<Error />
	</body>
</html>
